<h1>Listing certifications</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Certification</th>
      <th>Company</th>
      <th>Category</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><img src="<%= certification.logo_url %>" alt="microsoft logo" hieght="40" width="40"></td>
        <td><%= certification.cert_name %></td>
        <td><%= certification.cert_company %></td>
        <td><%= certification.category %></td>
        <td><%= certification.description %></td>
        <td><button class="btn btn-default"><%= link_to 'Show', certification %></button></td>
        <td><button class="btn btn-default"><%= link_to 'Edit', edit_certification_path(certification) %></button></td>
        <td><button class="btn btn-default"><%= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certification', new_certification_path %>
