<p id="notice"><%= notice %></p>


<div>
  <img src="<%= @certification.logo_url %>" alt="company logo" height="70" width="70">
</div>

<p>
  <strong>Cert name:</strong>
  <%= @certification.cert_name %>
</p>

<p>
  <strong>Cert company:</strong>
  <%= @certification.cert_company %>
</p>

<p>
  <strong>Category:</strong>
  <%= @certification.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certification.description %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
